USE [master]
GO
/****** Object:  Database [SALARIES]    Script Date: 04-Aug-24 7:11:02 AM ******/
CREATE DATABASE [SALARIES]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SALARIES', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SALARIES.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SALARIES_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SALARIES_log.ldf' , SIZE = 270336KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SALARIES].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SALARIES]
GO
/****** Object:  User [ahmar.05]    Script Date: 04-Aug-24 7:11:02 AM ******/
CREATE USER [ahmar.05] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[SALARIES]    Script Date: 04-Aug-24 7:11:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALARIES](
	[role] [varchar](255) NULL,
	[country] [varchar](255) NULL,
	[company] [varchar](255) NULL,
	[company_rating] [float] NULL,
	[job_title] [varchar](255) NULL,
	[median] [varchar](255) NULL,
	[low] [varchar](255) NULL,
	[high] [varchar](255) NULL,
	[unit] [varchar](255) NULL,
	[currency] [varchar](255) NULL
) ON [PRIMARY]
GO
USE [master]
GO
